.clear {
    clear: both;
    border-bottom: 1px solid #dedede;
}

#top {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    font-family: "Lato", "Helvetica", "Arial", "sans-serif";
    background-color: #f3f3f3;
    text-align: justify;
}

#top section div[class="sectionTitle"] h1 {
    color: #cf8a05;
    font-style: italic;
    font-weight: lighter;
}

#top h1 {
    font-family: "Rokkitt", Arial, Helvetica, sans-serif;
    color: #444444;
}

.keySkills {
    column-count: 3;
}

.subDetails {
    font-style: italic;
    line-height: 1px;
}

.keySkills {
    list-style-type: none;
    margin: auto;
    padding: 4%;
}

#top h2 {
    color: #444444;
}

#headshot img {
    border-radius: 50%;
}

.clearPrimeiro {
    clear: both;
    border-bottom: 2px solid #cf8a05;
}

#headshot {
    width: 12.5%;
    float: left;
    min-width: 30px;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 3%;
}

#name {
    float: left;
    min-width: 30px;
    margin-left: 2%;
    line-height: 10px;
    margin: auto;
    margin-top: 6%;
}

#name h2 {
    font-weight: 500;
    color: black;
}

#name h1 {
    color: black;
}

#contactDetails {
    color: #181818;
    float: right;
    padding: 4%;
}

#contactDetails ul li a {
    color: #181818;
}

.sectionTitle {
    float: left;
    width: 25%;
    color: #cf8a05;
}

.sectionContent {
    float: right;
    width: 72.5%;
}

.sectionContent p {
    color: #181818;
}